.gatey:not(:empty, .selected-day, .today):hover {
  background-color: #ccc;
}

.selected-day {
  background-color: #f00;
}

.today {
  background-color: #0f0;
}

.years-select {
  max-height: 50px;
}
