.gatey:not(:empty, .selected-day, .today):hover {
  background-color: #ccc;
}

.selected-day {
  background-color: lightgreen;
}

.today {
  background-color: red;
}

.years-select {
  max-height: 50px;
}
