/* Overall container */
.nepali-date-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The Nepali formatted date text */
.nepali-date-picker .nepali-date-picker-text {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

/* Container for input and button */
.nepali-date-picker .box {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  box-shadow: none;
}

.nepali-date-picker .box:hover {
  border: 1px solid rgb(0, 0, 0);
}

.nepali-date-picker .box:focus-within {
  border: 2px solid #1976d2; /* MUI Primary Blue */
}

/* Styling for input field */
.nepali-date-picker .input {
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 55px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

/* Focus and active state for input */
.nepali-date-picker .input:focus,
.nepali-date-picker .input:active {
  outline: none;
}

/* Button styles */
.nepali-date-picker .button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Button hover state */
.nepali-date-picker .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Button focus and active state */
.nepali-date-picker .button:focus,
.nepali-date-picker .button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Responsiveness */
@media (max-width: 768px) {
  .nepali-date-picker .input {
    width: 150px;
    margin-right: 8px;
    height: 52px;
  }

  .nepali-date-picker .box {
    width: 200px;
  }
}
