.box {
  width: 110px;
  font-weight: bold;
  background-color: #dcd7c9;
  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}


.selected {
  background-color: #b3d8a8;
}


.today {
  background-color: red;
}