.box1 {
  width: 120px;
  font-weight: bold;
  /* background-color: #cecfe8; */
  background-color: #ffffff;
  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}

.box1:hover:not(.selected, .today) {
  background-color: #ccc;
}

.selected {
  /* background-color: #786f80; */
  background-color: #18181b;
  color: #ffffff;
}

.today {
  background-color: #8b8000;
}
