.box {
  width: 120px;
  font-weight: bold;
  background-color: #cecfe8;
  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}

.selected {
  background-color: #786f80;
}

.today {
  background-color: #786f99;
}
