.year-month-button {
  width: 110px;
  font-weight: bold;
  background-color: #dcd7c9;

  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}

.highlight-year-month {
  width: 110px;
  font-weight: bold;
  background-color: #b3d8a8;

  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}
.day-button {
  width: 50px;
  padding: 5px;
  font-weight: bold;
  background-color: #dcd7c9;
  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}

.gatey:not(:empty, .selected-day, .today):hover {
  background-color: #ccc;
}

.selected-day {
  width: 50px;
  padding: 5px;
  font-weight: bold;
  background-color: #b3d8a8;
  box-shadow: #213547 0px 3px 8px;
  margin: 0;
}

.today {
  background-color: red;
}

.current-year {
  background-color: red;
}
