* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  outline: none;
  /* box-shadow: #213547 1px; */
  box-shadow: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.reset-btn {
  font-weight: bold;
  font-size: 1em;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  /* box-shadow: #213547 0px 3px 8px; */
  border: 1px solid #ccc;
  transition: box-shadow 0.2s ease-in-out; /* Smooth transition */
  margin: 0;
}

.reset-btn:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
}

/* Apply smaller button size on smaller screens */
@media (max-width: 600px) {
  button {
    padding: 0.4em 0.8em; /* Reduce padding */
    font-size: 0.8em; /* Reduce font size */
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px; /* Slightly smaller border radius */
  }
  .reset-btn {
    font-weight: bold;
    font-size: 0.8em;
    width: 120px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: #213547 0px 3px 8px;
    margin: 10px;
  }
}

button:hover {
  box-shadow: #646cff 1px;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

.heading {
  max-width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center; /* Align items vertically inside */
  justify-content: center; /* Center text horizontally */
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
  /* background-color: #2a3439; */
  background-color: #18181b;
  /* color: #e6e6fa; */
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0);
}

.text-imp {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1.2rem;
}

.text {
  color: rgba(0, 0, 0, 0.8);
}

.sub-heading {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 0px;
  text-decoration: underline;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #cecfe8; */
  /* background-color: #786f99; */
  background-color: #dedede;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Hide scrollbar for mobile devices */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
  }

  /* For Internet Explorer, Edge */
  * {
    -ms-overflow-style: none;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #cecfe8; */
    background-color: #ffffff;
  }
}
